@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    line-height: 1.5;
    color: #1d1d1e;
    font-size: 16px;
    overflow-x: hidden;
}

.section {
    padding-top: 300px
}

.section .inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section .title h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.72px;
}

.btn_color {
    display: inline-block;
    align-items: center;
    transition: 0.3s;
    padding: 12px 40px;

    border-radius: 12px;
    background-color: #1d1d1e;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.btn_color:hover {
    background-color: #ff6b00;
}

/* header */
.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #d7d7dc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner {
    max-width: 1230px;
    width: 100%;
    height: 100%;

    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    max-width: 200px;
}

.header .inner .logo img {
    max-width: 200px;
    display: block;
}

.header .inner .nav {
    height: 100%;
}

.header .inner .nav .gnb {
    display: flex;
    column-gap: 30px;
    height: 100%;
}

.header .inner .nav .gnb li {
    font-size: 16px;
    height: 100%;
}

.header .inner .nav .gnb li a {
    display: block;
    height: 100%;
    align-content: center;
}

.header .inner .nav .gnb li a:hover {
    font-weight: 700;
}

.header .inner .btn_wrap {
    display: flex;
    gap: 10px;
}

.header .inner .btn_wrap a {
    height: 40px;
    border: 1px solid #d7d7dc;
    border-radius: 50px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
}

.header .inner .btn_wrap a:first-child:hover {
    background-color: #1d1d1e;
    color: #fff;
}

.header .inner .btn_wrap a:last-child {
    background-color: #1d1d1e;
    color: #fff;
}

.header .inner .btn_wrap a:last-child:hover {
    background-color: #ff6b00;
}


/* .main_visual */
.main_visual {
    position: relative;
    padding-top: 100px;
    overflow-x: hidden;
}

.main_visual .swiperMain .swiper-slide {
    height: 940px;
}

.main_visual .swiperMain .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .main_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
}

.main_visual .main_text h2 {
    font-size: 110px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);

    line-height: 1.25;
    letter-spacing: -1px;
    user-select: none;
}

.main_visual .main_text .btn_wrap {
    height: 64px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main_visual .main_text .btn_wrap a {
    max-width: 200px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #1d1d1e;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s;
}

.main_visual .main_text .btn_wrap a:hover {
    background-color: #ff6b00;
}

.main_visual .main_text .btn_wrap img {
    width: 24px;
}

.main_visual .main_text .btn_wrap a span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/* .section-01 */
.section-01 {
    padding-bottom: 100px;
    padding: 300px 0 100px;
}

.section-01 .inner .item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.section-01 .inner .item-02 .title {
    order: 1;
}

.section-01 .inner .item .title {
    white-space: nowrap;
    line-height: 1.33;
    letter-spacing: -0.72px;
}

.section-01 .inner .item .title p {
    margin-top: 40px;
    font-size: 28px;
    letter-spacing: -0.4px;
}

.section-01 .inner .item .image {
    max-width: 520px;
    width: 100%;
}

.section-01 .inner .item .image img {
    width: 100%;
}

@media screen and (max-width:992px) {
    .section .title h3 {
        font-size: 25px;
    }

    .section-01 .inner {
        padding: 100px 0 0;
        margin: 0;
    }

    .section-01 .inner .item {
        max-width: 992px;
        padding: 0 20px;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .section-01 .inner .item .image {
        max-width: 100%;
        order: -1;
    }

    .section-01 .inner .item .title p {
        font-size: 19px;
        margin-top: 20px;
    }
}

/* .section-02 */
.section-02 {
    padding-top: 0;
}

.section-02 .inner {
    text-align: center;
    padding-bottom: 309px;
}

.section-02 .inner .title {
    margin-bottom: 60px;
}

.section-02 .item_wrap {
    position: relative;
}

.section-02 .inner .event_slide {
    width: 100%;
}

.section-02 .inner .event_slide .item {
    width: 380px;
    margin-right: 30px;
}

.section-02 .inner .event_slide .item_img {
    border-radius: 30px;
    overflow: hidden;
}

.section-02 .inner .event_slide .item img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.section-02 .inner .event_slide .item .item_content {
    padding: 20px;
    padding-bottom: 0;
    font-size: 18px;
}

.section-02 .event_slide .item_inner:hover img {
    transform: scale(1.1);
}

.section-02 .swiper-button-next,
.section-02 .swiper-button-prev {
    top: 160px;
    margin-top: 0;
}

.section-02 .swiper-button-next,
.section-02 .swiper-button-prev:hover {
    background-color: #e0e0e0;
}

.section-02 .swiper-button-prev {
    left: -60px;
}

.section-02 .swiper-button-next {
    right: -60px;
}

.section-02 .swiper-button-prev:after,
.section-02 .swiper-button-next:after {
    display: none;
}


.section-02 .event_nav_wrap img {
    max-width: 8px;
}

.section-02 .event_nav_wrap>div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f9fafb;
}


/* section-03 */
.section-03 {
    background-color: #f9fafb;
    padding: 300px 0;
}

.section-03 .title {
    max-width: 1230px;
    width: 100%;
    margin-bottom: 60px;
}

.section-03 .title img {
    display: block;
    margin: 0 auto 44px;
    max-width: 160px;
}

.section-03 .title h3 {
    text-align: center;
}

.section-03 .item_wrap {
    display: flex;
    gap: 24px;
}

.section-03 .item_wrap .item {
    padding: 60px 0 30px;
    border: 1px solid #d7d7dc;
    border-radius: 30px;
    background-color: #fff;
    width: calc(33% - 16px);
    position: relative;
}

.section-03 .item_wrap .item .item_logo {
    max-width: 160px;
    margin: 0 auto 12px;
}

.section-03 .item_wrap .item .item_logo img {
    width: 100%;
}

.section-03 .item_wrap .item p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.section-03 .item_wrap .item a {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f9fafb;
    border-radius: 100%;
    position: relative;
    z-index: 9;
    transition: 0.3s;
}

.section-03 .item_wrap .item a.rotate {
    transform: rotate(225deg);
}

.section-03 .item_wrap .item a img {
    max-width: 17px;
    display: block;
}

.section-03 .item_wrap .item .item_active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 40px 110px;

    background-color: #7f91e8;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}

.section-03 .item_wrap .item .item_active.active {
    opacity: 1;
}

.section-03 .item_wrap .item .item_active div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-03 .item_wrap .item:last-of-type .item_active div {
    justify-content: space-between;
}

.section-03 .item_wrap .item .item_active span {
    font-size: 18px;
    color: #fff;
}

.section-03 .item_wrap .item .item_active .small {
    font-size: 14px;
    font-weight: 300;
}

/* section-04 */
.section-04 {
    padding: 190px 0 200px;
}

.section-04 .inner {
    margin-bottom: 60px;
    text-align: center;
}


.section-04 .inner .btn_color {
    margin-top: 40px;
}

.section-04 .inner .btn a:hover {
    background-color: #ff6b00;
}

.section-04 .image_box .swiper-wrapper {
    width: 100%;
    transition-timing-function: linear;
}

.section-04 .image_box .swiper-wrapper .swiper-slide {
    width: auto;
    max-height: 60px;
    height: 100%;
    margin-left: 80px;
}

.section-04 .image_box .swiper-wrapper .swiper-slide img {
    height: 100%;
}

/* .section-05 */
.section-05 {
    background-color: #ffe9e3;
    padding: 200px 15px;
}

.section-05 .inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section-05 .inner .text_wrap {
    flex-shrink: 0;
    text-align: left;
}

.section-05 .inner .text_wrap .image {
    max-width: 320px;
    margin-top: 40px;
}

.section-05 .item_wrap {
    max-height: 684px;
    display: flex;
    gap: 24px;
}

.section-05 .item_wrap::before {
    content: '';
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    z-index: 99;
    background-image: linear-gradient(to top, rgba(255, 233, 227, 0), #ffe9e3);
}

.section-05 .item_wrap::after {
    content: '';
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 99;
    background-image: linear-gradient(to bottom, rgba(255, 233, 227, 0), #ffe9e3);
}

.section-05 .review_slide .slide {
    transition-timing-function: linear;
}

.section-05 .review_slide .review_item {
    border-radius: 40px;
    height: auto;
}

.section-05 .review_slide .review_item:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.1);
}

.section-05 .review_slide .review_item img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}


/* section-06 */
.section-06 {
    padding: 200px 0;
}

.section-06 .inner {
    position: relative;
}

.section-06 .inner .image {
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
}

.inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-06 .inner .title {
    max-width: 711px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    padding: 110px 90px;
    flex-shrink: 0;

    text-align: center;
}

.section-06 .inner .title h3 {
    line-height: 1.2;
    letter-spacing: -0.7px;
}

.section-06 .inner .title p {
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: -0.36px;
}

.section-06 .inner .title a {
    margin-top: 30px;
    line-height: 1.25;
}

/* footer */
.footer {
    border-top: 1px solid #d7d7dc;
    padding: 40px 0 100px 0;
}

.footer .inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    font-size: 14px;
}

.footer .inner .left_info,
.footer .inner .right_info {
    width: 50%;
}

.footer .inner .left_info>div {
    margin-bottom: 30px;
}

.footer .inner .left_info>div:last-child {
    margin-bottom: 0;
}

.footer .inner .left_info span {
    display: inline-block;
    margin-right: 7px;
}

.footer .inner .left_info .bold {
    font-weight: 700;
}

.footer .inner .left_info .bold_02 {
    font-weight: 500;
}

.footer .inner .left_info .thin {
    font-weight: 300;
}

.footer .inner .gray {
    color: #68686c;
}

.footer .inner .right_info .blue {
    color: #007aff;
    font-weight: 500;
}

.footer .inner .left_info .T_info {
    font-size: 16px;
}

.footer .inner .left_info .sub_info li {
    margin-top: 8px;
}

.footer .inner .left_info .sub_info p {
    color: #979798;
    font-size: 15px;
    margin-top: 5px;
}

.footer .right_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .right_info .legal {
    display: flex;
    justify-content: flex-end;
}

.footer .right_info .legal li {
    margin-right: 10px;
    transition: 0.3s;
}

.footer .right_info .legal .blue a:hover {
    text-decoration-color: #007aff;
}

.footer .right_info .legal li a:hover {
    text-decoration: underline;
}

.footer .right_info .legal a {
    position: relative;
    padding-right: 10px;
}

.footer .right_info .legal a::before {
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: #d7d7dc;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.footer .right_info .legal li:last-child {
    margin-right: 0;
}

.footer .right_info .legal li:last-child a::before {
    display: none;
}

.footer .right_info .legal li:last-child a {
    padding-right: 0;
}

.footer .right_info .legal:nth-child(2) {
    margin-top: 40px;
}

.footer .right_info .cop_info {
    margin: 10px 0 20px 0;
}

.footer .right_info .cop_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .right_info .cop_info span {
    margin-top: 4px;
}

.footer .right_info .cop_info div {
    display: flex;
    column-gap: 20px;
}

.footer .right_info .cop_info div span {
    display: block;
}

.footer .right_info .relate_site button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
    height: 35px;
    border: 1px solid #d7d7dc;
    border-radius: 8px;
    background-color: transparent;
    padding: 0 9px 0 12px;
    cursor: pointer;
}

.footer .right_info .relate_site p {
    font-size: 14px;
    font-weight: 500;
}

.footer .right_info .relate_site {
    position: relative;
}

.footer .right_info .relate_site button img {
    width: 12px;
    transition: 0.3s;
}

.footer .right_info .relate_site ul {
    width: 100%;
    border: 1px solid #d7d7dc;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;

    position: absolute;
    bottom: calc(100% + 2px);
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.3s;
}

.footer .right_info .relate_site ul li {
    padding: 5px 9px 5px 12px;
}

.footer .right_info .sns_wrap {
    display: flex;
    column-gap: 10px;
    margin-top: 40px;
}

.footer .right_info .sns_wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    background-color: #f9fafb;
    border-radius: 50%;
    transition: 0.3s;
}

.footer .right_info .sns_wrap span {
    width: 24px;
    height: 24px;
    background-color: #636363;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    transition: 0.3s;
}

.footer .right_info .sns_wrap .icon_01 {
    mask-image: url('../img/blog.png');
    -webkit-mask-image: url('../img/blog.png');
}

.footer .right_info .sns_wrap .icon_02 {
    mask-image: url('../img/insta.png');
    -webkit-mask-image: url('../img/insta.png');
}

.footer .right_info .sns_wrap .icon_03 {
    mask-image: url('../img/youtube.png');
    -webkit-mask-image: url('../img/youtube.png');
}

.footer .right_info .sns_wrap .icon_04 {
    mask-image: url('../img/facebook.png');
    -webkit-mask-image: url('../img/facebook.png');
}

.footer .right_info .sns_wrap a:hover span {
    background-color: #fff;
}

.footer .right_info .sns_wrap li:first-child a:hover {
    background-color: #03c75a;
}

.footer .right_info .sns_wrap li:nth-child(2) a:hover {
    background-color: #1d1d1e;
}

.footer .right_info .sns_wrap li:nth-child(3) a:hover {
    background-color: #ff0000;
}

.footer .right_info .sns_wrap li:nth-child(4) a:hover {
    background-color: #0863f7;
}

.footer .right_info .relate_site ul.active {
    transform: scaleY(1);
}

.footer .right_info .relate_site button .arrow.flip {
    transform: rotate(180deg);
}